body {
  background-color: #FFFFFF;

}

.container-folder {
  margin: 12px;
}

.show-header {
  margin-top: 25px;
  margin-bottom: 62px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.show-page-content {
  display:flex;
}

.show-content {
  display: flex;
  justify-content: space-between;

}

.show-card {
  width: 396.5px;
  height: 558px;
  border-radius: 12px;
  background: linear-gradient(to bottom, rgba(255,255,255,0.12) 0, rgba(0,0,0,0.55) 74.4%);
  border: 0;
  position: relative;
  background-size: 300%;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  position: sticky;
  top: 25%;;
}

.show-card:hover {
  // filter: brightness(70%);
  transition: all 0.3s ease;
  border: 0;
  background-size: 400%;
}

.folder-btn:hover {
  color: black;
  background: white;
    a {
        color: black;
      }
}

// .show-card:hover .edit-folder {
//   color:black;
//   background: white;
// }

// .show-card:hover .delete-folder {
//   color:black;
//   background: white;
// }

.folder-btn {
  border-radius: 25px;
  border: 4px solid white;
  margin: 32px 0px;
  height: 52px;
  width: 220px;
  font-size: 22px;
  color: white;
  font-weight: medium;
  display: flex;
  align-items: center;
  justify-content: center;
    a {
      color: white;
      text-decoration: none;
    }
}


a:hover {
  text-decoration: none;
}

#show-tabs-folder {
  margin-left: 45px;
  width: 150px;
}

.show-tab-card {
  display: flex;
  font-family: Avenir Next;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 32px;
  width: 804px;
  color: black;
  padding: 8px;
    &:hover{
      background: #F5F5F5;
      border-radius: 15px;
    }
}

.tab-edit {
  margin-right: 10px;
}
.tab-edit a {
  color: black;
  opacity: 0.8
}

.tab-delete a {
  color: black;
  opacity: 0.8

}

.tab-edit a:hover {
  opacity: 0.95;
  font-size: 1.1em;
}

.tab-delete a:hover {
  opacity: 0.95;
  font-size: 1.1em;


}

  // .fa-trash-alt:hover{
  //     opacity: 1;
  //     color: red;
  //   }

  //   .tab-edit{
  //     opacity: 1;
  //   }

// .show-tab-content:hover .show-tab-actions{
//     opacity: 1;
//     color: black;
//     margin-right: 12px;
// }

.show-tab-title {
  display: flex;
  color: black;
    img {
      width: 30px;
      height: 30px;
      margin-right: 12px;
      margin-top: 2px;
    }
}

.show-tab-url {
  margin-left: 43px;
  color: black;
  width: 100%;
  overflow: scroll;
}

.show-tab-actions {
  margin-top: -41px;
  margin-bottom: 12px;
  margin-left: 722px;
  display: flex;
  font-size: 22px;
  color: black;
}


.show-folder-action {
  margin-top: 152px;
  margin-right: 211px;
}

.show-tabs-folder-actions {
  margin-top: 152px;
  margin-right: 211px;
}

.show-share-form {

}

.show-btn {
  margin-top: 24px;
  padding-top: 28px;
  width: 336px;
  height: 87px;
  background: #F5F5F5;
  border-radius: 15px;
  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 37px;
  border: none;
  opacity: 1;

    &:hover {
      opacity: 0.7;
    }

    a {
      color: black;
      margin-left: 134px;
    }
}

#show-share-form{
}


.show-share {
  margin-bottom: 24px;
}

.show-edit-folder {
  margin-bottom: 24px;
}

.show-delete-folder {

}

.tab-icon {
  border-radius: 50%;
}

#new-share-form {
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 5px;
  background-color: #F5F5F5;
  padding: 40px;
    h3 {
      position: absolute;
      top: 34%;
      left: 19%;
    }
}

.hidden{
  display: none;
}

#new-folder-form {
  height: 400px;
  width: 600px;
  position: absolute;
  left: 10%;
  top: 10%;
  border-radius: 5px;
  background-color: rgba(236, 169, 80, 0.8);
  padding: 40px;
  z-index: 10;
}

.new_share {
  transition: all 0.3s ease;
  position: absolute;
  top: 45%;
  left: 22%;
}

.share-select {
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 24px;
  border: 3px black solid;
}

.share-btn {
  text-align: center;
  margin-top: 25px;

    input {
      background-color: white;
    }
}
