body {
  background-color: #E5E5E5
}

.show-page {
  margin-left: 258px;
}

.share {
  color: #DF4B14;
  opacity: 50%;
  margin-top: -56px;
  margin-left: 951px;

  position: absolute;
  font-size: 25px;
}

.share:hover{
  color: #FF6D37;
  opacity: 1;
}
