<div class="footer">
  <div class="footer-taboard">
    TaBoard
  </div>
  <div class="footer-info">
    ©2021 by LeWagon#537-SZ
  </div>
  <div class="follow">
    Follow us on Github
    <%= link_to "https://github.com/XiwayB/TabBoard", :target => '_blank' do %>
      <%= image_tag "Github.png", alt: "Go to GH", class: "gh-icon"%>
    <% end %>
  </div>
</div>
