<!-- navbar -->
<nav class="navbar navbar-expand-md py-0 w-100">
  <!-- lg navbar -->
  <div class="d-none d-md-flex flex-grow-1" id="xlNavbar">
    <a class="navbar-brand" href="#">TaBoard</a>

    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Sign In</a>
    </div>
  </div>

   <!-- button and collapsed menu -->
  <a class="navbar-toggler navbar-brand" role="button" data-toggle="collapse" href="#navbarMenu" id="navbarMenuToggler">TaBoard <i class="fas fa-chevron-down"></i></a>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <a class="nav-item nav-link" href="#">Home</a>
    <hr/>
    <a class="nav-item nav-link" href="#">About</a>
    <a class="nav-item nav-link" href="#">Features</a>
    <a class="nav-item nav-link" href="#">
      <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
            <%= link_to omniauth_authorize_path(resource_name, provider), method: :post do %>
              <div>
                <div class="sign-in-btn">
                  <h5>
                    Sign in
                </div>
              </div>
          <% end %>
        <% end %>
      <% end %></a>
  </div>
</nav>

<!-- SIDEBAR -->

<div class="position-absolute vh-100" style="z-index:100;right: 0; top:0; margin-right: 20px; width: fit-content; background: white">


  <div id="btn-tabs">
    <div id="folder-ridge">What is TaBoard?</div>
  </div>


  <div id="box-tabs">
    <div class="box-tab-header">Clean Tabs</div>
    <div id="items">
      <h3 class="hero-text px-4">TaBoard is a producivity tool to manage your browser tabs and store them in your personal folders</h3>
      <h5 class="hero-text px-4">❤️ Save your tabs in the Extension</h5>
      <h5 class="hero-text px-4">💻 Manage them in the WebApp</h5>
    </div>
    <div class="box-tab-header" style="margin-top: 55px;">Relax Minds</div>
  </div>

</div>



<!-- HERO -->

<div id="hero" class="d-flex align-items-end justify-content-center">
</div>

<div id="searchForm">
  <div class="container-fluid p-5">
    <form class="py-4 rounded">
      <h1 class="d-block header">Learn to love your browser again</h1>
      <div class="d-flex flex-column align-items-sm-center align-items-md-start">
        <%- if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
            <%= link_to omniauth_authorize_path(resource_name, provider), method: :post do %>
              <div class="btn btn-login px-4 py-3 mt-2">
                Sign in with Google
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="d-flex flex-column align-items-sm-center align-items-md-start">
        <a class="btn btn-login px-4 py-3 mt-2" href="https://chrome.google.com/webstore/detail/taboard/nchjighemnpaocgbecjeokgejnjbhpgm" target="_blank">Download the Extension</a>
      </div>
    </form>
  </div>
</div>

<!-- FEATURES -->

<div class="container-features">
  <div class="row d-flex justify-content-center">
    <div class="col-10">
      <h2>TaBoard is a Google Chrome Extension and Website to help you save your tabs easily into folders</h2>

    </div>
  </div>
  <div class="row d-flex m-3 justify-content-center">
    <div class="benefit col-md-12 col-lg-4 d-flex m-4 justify-content-center py-4">
      <div>
        <h2>Save all your tabs for later in the extension</h2>
        <p>Easily save all your open tabs in a folder for later use on the webapp</p>
      </div>
    </div>
    <div id="first-benefit" class="benefit col-md-12 col-lg-6 d-flex m-4 justify-content-center py-4">
      right
    </div>
  </div>
  <div  class="benefit row d-flex m-3 justify-content-center">
    <div id="second-benefit" class="col-md-12 col-lg-6 d-flex m-4 justify-content-center py-4">
      left
    </div>
    <div class="col-md-12 col-lg-4 d-flex m-4 justify-content-center py-4">
      <div>
        <h2>Manage all your tabs in your personal folders on the webapp</h2>
        <p>Easily create new folders</p>
      </div>
    </div>
  </div>
</div>

<!-- BANNER 1 -->

<div class="banner banner1 d-flex align-items-center justify-content-center">
  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to omniauth_authorize_path(resource_name, provider), method: :post do %>
        <div class="btn btn-login px-4 py-3 mt-2">
          Sign in with Google
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<!-- REVIEWS -->

<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center mt-5">
      <div style="font-size: 30px;">⭐️ ⭐️ ⭐️ ⭐️ ⭐️</div>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <h2>5 Stars on <a href="https://chrome.google.com/webstore/detail/taboard/nchjighemnpaocgbecjeokgejnjbhpgm" target="_blank">Chrome Store</a></h2>
    </div>
    <div class="col-12 d-flex justify-content-center reviews">
    </div>
  </div>
</div>

<!-- BANNER 2 -->

<div class="mt-4 banner banner2 d-flex align-items-center justify-content-center">
  <a class="btn btn-login px-4 py-3 mt-2" href="https://chrome.google.com/webstore/detail/taboard/nchjighemnpaocgbecjeokgejnjbhpgm" target="_blank">Download the Extension</a>
</div>

<div class="container-features mb-4 mt-5">
  <div class="row d-flex m-3 justify-content-center">
    <div class="col-md-12 col-lg-3 d-flex justify-content-center fda py-4 borderx">
      1
    </div>
    <div class="col-md-12 col-lg-3 d-flex justify-content-center fda py-4 borderx">
      2
    </div>
    <div class="col-md-12 col-lg-3 d-flex justify-content-center fda py-4 borderx">
      3
    </div>
  </div>
</div>

<!-- FOOTER -->

<div class="footer d-flex justify-content-center mt-5 pb-3 pt-5">
  <h2>
    TaBoard Footer
  </h2>
  <p>@2021 by LeWagon#537-SZ</p>
</div>
