<div class="row justify-content-center">
  <div class="col-lg-4 col-sm-10" style="margin-top: 100px;">

    <h2 class="text-center">TABOARD WEBAPP</h2>

    <div class="text-center">

<!--       <button class="button sign-in-btn" style=""><h5>Sign in with</h5><img src="images/google.png" alt="" class="G"></button>
 -->
      <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
            <%= link_to omniauth_authorize_path(resource_name, provider), method: :post do %>
              <div>
                <div class="sign-in-btn mt-5">
                  <h5>
                    Sign in with
                  </h5>
                  <%= image_tag "google.png" %>
                </div>
              </div>
          <% end %>
        <% end %>
      <% end %>

      <a href="https://chrome.google.com/webstore/detail/taboard/nchjighemnpaocgbecjeokgejnjbhpgm" target="_blank">Install the Chrome Extension</a>

    </div>

  </div>
</div>
