<!-- navbar -->
<nav class="navbar navbar-expand-md py-0 w-100">
  <!-- lg navbar -->
  <div class="d-none d-md-flex flex-grow-1" id="xlNavbar">
    <a class="navbar-brand" href="#">TaBoard</a>

    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Sign In</a>
    </div>
  </div>

   <!-- button and collapsed menu -->
  <a class="navbar-toggler navbar-brand" role="button" data-toggle="collapse" href="#navbarMenu" id="navbarMenuToggler">TaBoard <i class="fas fa-chevron-down"></i></a>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <a class="nav-item nav-link" href="#">Home</a>
    <hr/>
    <a class="nav-item nav-link" href="#">About</a>
    <a class="nav-item nav-link" href="#">Features</a>
    <a class="nav-item nav-link" href="#">Sign In</a>
  </div>
</nav>

<div id="hero">
</div>

<div id="searchForm">
  <div class="container-fluid p-5">
    <form class="py-4 rounded">
      <h2 class="d-block header">Learn to love your browser again</h2>
      <div class="d-flex flex-column align-items-md-end">
        <button type="submit" class="btn btn-danger px-4 py-3 mt-2">Sign in with Google</button>
      </div>
      <div class="d-flex flex-column align-items-md-end mt-2">
        <button type="submit" class="btn btn-danger px-4 py-3 mt-2">Download the Extension</button>
      </div>
    </form>
  </div>
</div>

<div class="container-features">
  <div class="row d-flex m-3 justify-content-center">
    <div class="benefit col-md-12 col-lg-4 d-flex m-4 justify-content-center py-4">
      <div>
        <h2>Save all your tabs for later</h2>
        <p>Easily save all your open tabs in a folder for later use</p>
      </div>
    </div>
    <div id="first-benefit" class="benefit col-md-12 col-lg-6 d-flex m-4 justify-content-center py-4">
      right
    </div>
  </div>
  <div  class="benefit row d-flex m-3 justify-content-center">
    <div id="second-benefit" class="col-md-12 col-lg-6 d-flex m-4 justify-content-center py-4">
      left
    </div>
    <div class="col-md-12 col-lg-4 d-flex m-4 justify-content-center fda py-4">
      <div>
        <h2>Save all your tabs for later</h2>
        <p>Easily save all your open tabs in a folder for later use</p>
      </div>
    </div>
  </div>
</div>

<div class="banner d-flex align-items-center justify-content-center">
  <button type="submit" class="btn btn-danger px-4 py-3 mt-2">
    <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
            <%= link_to omniauth_authorize_path(resource_name, provider), method: :post do %>
              <div>
                <div class="sign-in-btn mt-5">
                  <h5>
                    Sign in with Google
                  </h5>
<!--                   <%= image_tag "google.png" %>
 -->                </div>
              </div>
          <% end %>
        <% end %>
      <% end %>
  </button>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center mt-5">
      <div style="font-size: 30px;">⭐️ ⭐️ ⭐️ ⭐️ ⭐️</div>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <h2>5 Stars on Chrome Store</h2>
    </div>
    <div class="col-12 d-flex justify-content-center reviews">
    </div>
  </div>
</div>

<div class="mt-4 banner d-flex align-items-center justify-content-center">
  <button type="submit" class="btn btn-danger px-4 py-3 mt-2"><a href="https://chrome.google.com/webstore/detail/taboard/nchjighemnpaocgbecjeokgejnjbhpgm" target="_blank">Download the Extension</a></button>
</div>

<div class="container-features mb-4 mt-5">
  <div class="row d-flex m-3 justify-content-center">
    <div class="col-md-12 col-lg-3 d-flex justify-content-center fda py-4 borderx">
      1
    </div>
    <div class="col-md-12 col-lg-3 d-flex justify-content-center fda py-4 borderx">
      2
    </div>
    <div class="col-md-12 col-lg-3 d-flex justify-content-center fda py-4 borderx">
      3
    </div>
  </div>
</div>
<!--
      <button class="btn btn-primary sign-in-banner-btn">
        Sign in with G
      </button>
      <button class="btn btn-primary sign-in-banner-btn">
        Get the chrome extension
      </button> -->

<div class="row justify-content-center">
  <div class="col-lg-4 col-sm-10" style="margin-top: 100px;">

    <h2 class="text-center">TABOARD WEBAPP</h2>

    <div class="text-center">

      <button class="button sign-in-btn" style=""><h5>Sign in with</h5><img src="images/google.png" alt="" class="G"></button>

      <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
            <%= link_to omniauth_authorize_path(resource_name, provider), method: :post do %>
              <div>
                <div class="sign-in-btn mt-5">
                  <h5>
                    Sign in with
                  </h5>
                  <%= image_tag "google.png" %>
                </div>
              </div>
          <% end %>
        <% end %>
      <% end %>

      <a href="https://chrome.google.com/webstore/detail/taboard/nchjighemnpaocgbecjeokgejnjbhpgm" target="_blank">Install the Chrome Extension</a>

    </div>

  </div>
</div>


<div class="footer d-flex justify-content-center mt-5">
  <h2>
    TaBoard Footer
  </h2>
</div>
