.show-header {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  position: relative;
  font-family: Roboto;
}

.show-title {
  margin: 0px auto;
  text-align: center;
}

.show-line {
  margin-left: -366px;
  margin-right: -366px;

}
