.loading-container {
  display: flex;
  height: 600px; width: 100%;
  justify-content: center; align-items: center;
  color: #fff; font-size: 40px;
}

#btn-tabs {
  position: fixed;
  z-index: 5;
  right: -79px;
  top: 46vh;
  cursor: pointer;
  color: white;
  opacity: 0.9;
  -webkit-transition: left 100ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
  transition: right 100ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

#btn-tabs div {
  background-color: #000000;
  border-radius: 10px;
  width: 155px;
  height: 50px;
  padding: 0 10px 0 10px;
  margin: 0;
  text-align: center;

  padding: 5px;

  -webkit-transition: -webkit-transform 100ms
      cubic-bezier(0.6, 0.05, 0.28, 0.91),
    opacity 100ms, box-shadow 100ms, background-color 100ms;
  transition: transform 100ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 100ms,
    box-shadow 150ms, background-color 100ms;
}

#btn-tabs:hover {
  right: -70px;
  opacity: 1;
}

#btn-tabs div:hover {
}

#folder-ridge {
  padding: 20px;
  transform: rotate(-90deg);
}

#folder-ridge:hover {
  // padding-right: 40px;
}

#btn-tabs:hover > div {
  box-shadow: 0 0 1px #00dffc;
}

#btn-tabs.active {
  right: 278px;
  z-index: -1;
}

#btn-tabs.active:hover {
  right: 285px;
}

#btn-tabs.active div {
  background-color: black;
}

#btn-tabs.active:hover > div {
  box-shadow: 0 0 1px #343838;
}

.box-tab-header {
  font-size: 20px;
  font-weight: bold;
  padding-left: 18px;
  display: inline-block;
}

.box-tab-delete-all {
  font-size: 14px;
  padding-left: 117px;
  display: inline-block;
}

#box-tabs {
  position: fixed;
  // z-index: -1;
  overflow: auto;
  top: 0px;
  right: 0px;
  // width: 800px;
  width: 0px;
  opacity: 0;
  padding: 20px 0px;
  height: 100%;
  background-color: black;
  color: #343838;
  // -webkit-transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
  // transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}


#box-tabs.active {
  opacity: 1;
  background: #f5f5f5;
  width: 350px;
  height: 94vh;
  position: fixed;
  top: 60px;
}

#items {
  height: 74vh;
  position: relative;
  overflow-y: scroll;
  top: 44%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#items-show {
  position: relative;
  top: 217px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#items .item {
  position: relative;
  cursor: pointer;
  font-size: 2em;
  padding: 20px 15px;
  -webkit-transition: all 100ms;
  transition: all 100ms;
}

#items .item:hover {
  padding: 35px 20px;
  padding-right: 15px;
  background-color: white;
  border-left: 1px solid #f5f5f5;
}

.unsaved_tabs {
  color: black;
  font-size: 14px;
}

.unsaved_tabs a {
  color: black;
  text-decoration: none;
}

.unsaved-title {
  display: flex;
  margin-left: 7px;
}

.unsaved-title .title {
  font-weight: bold;
  font-size: 15px;
}

.unsaved-title .icon-sidebar {
  text-align: center;
  // background: white;
  // border: 1px solid #080808;
  background-size: cover;
  color: black;
  font-size: 1.3em;
  margin-right: 6px;
  height: 20px;
  width: 20px;
}


.unsaved-link {
  display: flex;
  padding-left: 10px;
}

.unsaved-link .link {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 3px;
}

.unsaved-link .options {
  padding: 0 5px 10px 5px;
  z-index: 5;
  opacity: 0.7;
  font-size: 1.1em;
}

.options:hover {
  opacity: 1;
  text-shadow: 2px 2px 2px white;
}

.hidden2 {
  display: none;
}

.form-pink {
  position: relative;
  top: -31px;
  left: 13px;
  // transform: translate(0%,0%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: #f4f4f4;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid back;
  padding: 5px;
  margin-top: 50px;
  z-index: 100;
}

.form-pink input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0, 20px;
  padding-left: 70px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  background-color: #f5f5f5;
  font-family: 'Poppins', sans-serif;
}

.logo {
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  margin-right: 70%;
}

.logo a {
  color: black;
}

.logo a:hover {
  opacity: 0.7;
  text-shadow: 3px 3px 20px white;
}

.add-folder-btn {
  border-radius: 20px;
  height: 25px;
  background-color: white;
  border: 2.6px black solid;
  transition: all 0.3s ease;
  padding: 0 18px 10px 18px;
  // margin-left: 200px;
  margin-top: 12px;
  font-weight: 500;
  font-size: 14px;
}

.add-folder-btn:hover {
  background: black;
  color: white;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // width: 15%;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.nav-links li {
  list-style: none;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.nav-links a {
  // color: rgb(226, 226, 226);
  color: #000;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
}

.burger div {
  background-color: black;
  // background-color: rgb(226, 226, 226);
  width: 25px;
  height: 3px;
  margin: 5px;
  transition: all 0.3s ease;
}

.nav-body {
  height: 7vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  overflow-x: hidden;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .nav-body {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    overflow-x: hidden;
  }

  .body-navbar {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 70px;
    top: 0;

    // background-color: pink;
    display: flex;
    // flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    padding-right: 50px;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    cursor: pointer;
    display: block;

  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
  background-color: black;
}
.toggle .line2 {
  opacity: 0;
  background-color: black;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
  background-color: black;
}

.addButton {
  // background: #2E3A59;
  width: 20px;
  height: 20px;
}

.home-but {
  margin-left: 20px;
}

#results {
  overflow-y: scroll;
  height: 80vh;
}

#results li {
  color: #fff;
  padding: 20px 10px;
  list-style: none;
}

#results li a {
  color: #fff;
}

.search-result-title-section {
  width: 80%;
}

.search-result-folder-section{
  display: flex;
  width: 20%;
}

.search-result-folder-btn {
  padding: 4px 18px;
  border-radius: 20px;
  border: 2.7px solid white;
  margin-left: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: medium;
}

.search-result-folder-btn:hover {
  background: white;
  color: black;
}


// testing
// search button

.autocom-box {
  // overflow-y: scroll;
}

input:focus{             // has to put :focus for the input
    outline: none;      // clear the outline border for the input xo
}

// #btn-tabs {
//   position: fixed;
//   z-index: 5;
//   top: 143px;
//   left: 20px;
//   cursor: pointer;
//   -webkit-transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
//   transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
// }

// #btn-tabs div {
//   width: 35px;
//   height: 2px;
//   margin-bottom: 8px;
//   background-color: #DF4B14;
//   -webkit-transition: -webkit-transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, box-shadow 250ms, background-color 500ms;
//   transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, box-shadow 250ms, background-color 500ms;
// }

// #btn-tabs:hover > div { box-shadow: 0 0 1px #00DFFC; }

// #btn-tabs.active { left: 675px; }

// #btn-tabs.active div { background-color: #343838; }

// #btn-tabs.active:hover > div { box-shadow: 0 0 1px #343838; }

// #btn-tabs.active #top {
//   -webkit-transform: translateY(10px) rotate(-135deg);
//   -ms-transform: translateY(10px) rotate(-135deg);
//   transform: translateY(10px) rotate(-135deg);
// }

// #btn-tabs.active #middle {
//   -webkit-transform: scale(0);
//   -ms-transform: scale(0);
//   transform: scale(0);
// }

// #btn-tabs.active #bottom {
//   -webkit-transform: translateY(-10px) rotate(-45deg);
//   -ms-transform: translateY(-10px) rotate(-45deg);
//   transform: translateY(-10px) rotate(-45deg);
// }
// #box-tabs {
//   position: fixed;
//   // z-index: -1;
//   overflow: auto;
//   top: 0px;
//   left: 0px;
//   // width: 800px;
//   width: 150px;
//   opacity: 0;
//   padding: 20px 0px;
//   height: 100%;
//   // background-color: white;
//   color: #343838;
//   -webkit-transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
//   transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
// }

// #box-tabs.active {
//   left: 0px;
//   opacity: 0.8;
//   background: white;
//   width: 800px;
// }
// #items {
//   position: relative;
//   top: 50%;
//   -webkit-transform: translateY(-50%);
//   -ms-transform: translateY(-50%);
//   transform: translateY(-50%);
// }

// #items-show {
//   position: relative;
//   top: 217px;
//   -webkit-transform: translateY(-50%);
//   -ms-transform: translateY(-50%);
//   transform: translateY(-50%);
// }
// #items .item {
//   position: relative;
//   cursor: pointer;
//   font-size: 2em;
//   padding: 30px 15px;
//   -webkit-transition: all 250ms;
//   transition: all 250ms;
// }

// #items .item:hover {
//   padding: 15px 45px;
//   background-color: rgba(52, 56, 56, 0.2);
// }

// .form-pink {
//     position: relative;
//     top: -31px;
//     left: 13px;
//     // transform: translate(0%,0%);
//     transition: all 1s;
//     width: 50px;
//     height: 50px;
//     background: #F4F4F4;
//     box-sizing: border-box;
//     border-radius: 25px;
//     border: 4px solid back;
//     padding: 5px;
//     margin-top:50px;
//     z-index: 100;
// }

// .form-pink input{
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;;
//     height: 42.5px;
//     line-height: 30px;
//     outline: 0;
//     border: 0;
//     display: none;
//     font-size: 1em;
//     border-radius: 20px;
//     padding: 0, 20px;
//     padding-left: 70px;
// }

// .fa{
//     box-sizing: border-box;
//     padding: 10px;
//     width: 45px;
//     height: 45px;
//     position: absolute;
//     top: 0;
//     left: 0;
//     border-radius: 50%;
//     color: #606368;
//     text-align: center;
//     font-size: 1.2em;
//     transition: all 2.5s;
// }

// .form-pink:hover{
//     width: 800px;
//     cursor: pointer;
// }

// .form-pink:hover input{
//     display: block;
// }

// .form-pink:hover .fa{
//     background: #DF4B14;
//     color: pink;
// }

// .tab-icon {
//   border-radius: 50%;
//   width: 25px;
//   height: 25px;
//   background-color: white;
//   margin-right: 18px;
// }

// .show-tab {
//   background: rgba(223, 75, 20, 0.5);
//   opacity: 0.8;
//   border-radius: 5px;
//   padding: 14px 205px 14px 5px;
//   margin-top: 25px;
//   margin-left: 13px;
//   margin-right: 138px;
//   // color:white;
// }

// .show-tab:hover {
//   background: #FF6D37;
// }

// .search-input .autocom-box{
//   padding: 0;
//   opacity: 0;
//   pointer-events: none;
//   max-height: 280px;
//   overflow-y: auto;
// }
// .search-input.active .autocom-box{
//   padding: 10px 8px;
//   opacity: 1;
//   pointer-events: auto;
// }
// .autocom-box li{
//   list-style: none;
//   padding: 40px 12px;
//   display: none;
//   // width: 800px;
//   cursor: pointer;
//   border-radius: 3px;
//   background-color: white;
// }
// .search-input.active .autocom-box li{
//   display: block;
// }
// .autocom-box li:hover{
//   background: #EFEFEF;
// }
// .search-input.active input{
//   border-radius: 5px 5px 0 0;

// }

// .back-home {
//   z-index: 2;
//   position: relative
// }

// .home-icon {
//   color: #DF4B14;
//   opacity: 50%;
//   margin-top: 11px;
//   margin-left: 19px;
//   height: 36px;
//   padding-right: 13px;
// }

// .home-icon:hover{
//   color: #FF6D37;
//   opacity: 1;
// }

// .home-tab {
//   opacity: 0.6;
//   border-radius: 5px;
//   color:orange;
// }

// img .home-icon {
//   height: 34px;
// }

// .home-tab:hover {
//   opacity: 1;
// }

#new-folder-form {
  position: fixed;
  right: 88px;
  top: 41px;
  z-index: 2000;
  width: 340px;
  height: 197px;
  background: #FFFFFF;
  border: 1px solid #F5F5F5;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 40px 40px 249px 40px;
      button {
      border: none;
      position: absolute;
      left: 87%;
      background-color: white;
      top: 4%;
    }
      h3 {
        font-size: 22px;
        margin-left: 46px;
        margin-bottom: 16px;
      }
}

#show-folder-form .contents{
  position: fixed;
  right: 88px;
  top: 41px;
  z-index: 2000;
  width: 340px;
  height: 197px;
  background: #FFFFFF;
  border: 1px solid #F5F5F5;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 40px 40px 249px 40px;
      button {
      border: none;
      position: absolute;
      left: 87%;
      background-color: white;
      top: 4%;
    }
      h3 {
        font-size: 22px;
        margin-left: 46px;
        margin-bottom: 16px;
      }
}
.btn-add-folder {
  border-radius: 20px;
  background-color: white;
  border: 2.6px black solid;
  transition: all 0.3s ease;
  padding: 4px 18px 4px 18px;
  // margin-left: 200px;
  margin-top: 13px;
  margin-left: 76px;
  font-weight: 500;
  font-size: 14px;
}
.btn-add-folder:hover {
  background: black;
  color: white;
}
.create-folder-name {
  label {
    display: none;
  }
  input {
    border-radius: 12px;
    background-color: white;
    border: 3px black solid;
    transition: all 0.3s ease;
    padding: 8px 22px;
    margin-top: 34px;
  }
  i {
    margin-right: 2px;
  }
}
.create-folder-cover {
  border-radius: 12px;
  font-size: 13px;
  background-color: white;
  border: 3px black solid;
  transition: all 0.3s ease;
  color: black;
  font-family: 'Work Sans', 'Helvetica', 'sans-serif';
  padding: 8px 12px;
  margin-left: 14px;
  margin-top: 14px;
    &:hover {
      background-color: black;
      color: white;
    }
}
#close-create-folder {
  border-radius: 15px;
  border: 3px solid black
}

#blocker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background: rgba(0,0,0,.5);
}

#blocker-1 {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background: rgba(0,0,0,.5);
}
