.sign-in-btn {
  display: inline-flex;
  color: black;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.05em;

}

.sign-in-btn:hover {
  margin-top: 17px;
  font-size: 1.05em;
  text-shadow: 0.1px 0.1px 0.1px black;
}

img {
  width: 25px;
  height: 25px;
  margin-left: 8px;
}

.navbar-sign-in {
  background-color: #F5F5F5!important;
}

.container-sign-in {

}

.banner {
  height: 80vh;
  background: #BABABB;
  // background-image: url("/images/sign_in_banner_img.jpg");
}

.sign-in-banner-btns {
  position: absolute;
  top: 500px;
  right: 500px;
}

.sign-in-banner-btn{
  display: block;
  margin-top: 20px;
}
