@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
body {
  font-family: "Work Sans", "Helvetica", "sans-serif";
}

h1, h2, h3, h4, h5 {
    font-family: "Nunito", "Helvetica", "sans-serif";
}


@media (min-width: 576px) {
  #navbarMenu {
    display: none !important;
  }
}


#xlNavbar .navbar-brand, #navbarMenuToggler, #xlNavbar .nav-link {
  line-height: 80px;
  color: #333;;
}
#xlNavbar .nav-link {
  font-size: 14px;
}
#navbarMenuToggler, #navbarMenu .nav-link {
  color: #333;
}
#navbarMenu .nav-link {
  padding: 12px 0;
  font-weight: 300;
}

.benefit {
  // height: 600px;
}

#first-benefit {
  height: 600px;
  background-image: url('/assets/benefit1.png');
  background-size: cover;
  background-position: center bottom;
}

#second-benefit {
  height: 600px;
  background-image: url('/assets/benefit2.png');
  background-size: cover;
  background-position: center bottom;
}


#hero {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),
  url('/assets/banner_img2.jpg');
  background-size: cover;
  background-position: center left;
}

#hero h2 {
  padding-top: 168px;
  color: white;
  background: grey;
}

.container-fluid, .container {
  padding-left: 24px;
  padding-right: 24px;
}


  #hero {
    height: 80vh;
    min-height: 650px;
  }

form {
      color: white;

}

@media (min-width: 768px) {
  #searchForm {
    position: absolute;
    top: 200px;
    right: 18%;

  }
}
.fda {
  background: #FF5A5F;
}

@media (max-width: 768px) {
  #searchForm {
    position: absolute;
    top: 200px;
    width: 100%
  }
  .header {
  text-align: center;
  }
}

@media (min-width: 768px) {
  #searchForm .container-fluid {
    max-width: 1080px;
  }
}

@media (min-width: 768px) {
  #searchForm form {
    padding: 32px;
    // box-shadow: 0 16px 40px rgba(0,0,0,0.12);
    max-width: 441px;
  }
}

.btn-login{
  padding-top: 12px;
  padding-bottom: 12px;
  background: black;
  border: 2.6px solid white;
  border-radius: 50px;
  color: white;
  width: 250px;
  font-weight: 600;
}

// .btn-danger a {
//   color: white;
//   font-weight: 600;

// }

// .btn-danger a:hover {
//   color: black;
// }

.btn-login:hover {
  padding-top: 12px;
  padding-bottom: 12px;
  background: white;
  border-color: white;
  color: black;
  border-radius: 50px;
}

.container-features {
  width: 10 0%;
  padding: 10%;
}

.banner {
  height: 60vh;
}

.banner1 {
  height: 60vh;
  background: grey;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),
  url('/assets/office_happy1.jpg');
  background-size: cover;
  background-position: center left;
}

.banner2 {
  height: 60vh;
  background: grey;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),
  url('/assets/office_happy2.jpg');
  background-size: cover;
  background-position: center left;
}

.reviews {
  background-image: url('/assets/reviews.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 60vh;
  width: 400px;
  margin: 50px;
}

.three-section {
  border: 1px solid grey;
  background: red;
}

.footer {
  background: #F5F5F5;
}

.borderx {
  border-left: 3px solid black;
}

// Bootsrap media size
    // xs = Extra small <576px. Max container width None (auto)
    // sm = Small ≥576px. Max container width 540px.
    // md = Medium ≥768px. Max container width 720px.
    // lg = Large ≥992px. Max container width 960px.
    // xl = Extra large ≥1200px. Max container width 1140px.
