a {
  text-decoration: none;
}

.tab {
  background: rgba(223, 75, 20, 0.5);
  opacity: 0.8;
  border-radius: 5px;
  padding: 14px 205px 14px 5px;
  margin: 25px auto;
  color: white;
  display: flex;
}

.tab:hover {
  background: #ff6d37;
  text-decoration: none;
  color: white;
}

.icon {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  // background-color: white;
  margin-right: 12px;
}
