.card {
  margin: 12px;
  background-size: cover;
  height: 240px;
  width: 350px;
  color: white;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  h3 {
    margin-top: 90px;
  }
    a {
      text-decoration: none;
      text-align: center;
      color: white;
    }

  img{
    height: 50px;
  }

}

.card-show-title {
  margin-top: 25px;
  text-align: center;
}

.card-movie {
  margin: 12px;
  border-radius: 5px;
  width: 400px;
  height: 646px;
}

.card-poster {
  object-position: center top;
  object-fit: cover;
  overflow: hidden;
  height: 300px;
}

.card-description {
  padding: 12px;
  background-color: #F8F8F8;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 355px;
  h5 {
    font-weight: bold;
  }
}

.card-title {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}

.card-review {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.container-home {
  margin-left: 100px;
  margin-right: 100px;
}


