
<div class="position-absolute vh-100" style="z-index:100;left: 0; top:0; margin-right: 100px; width: fit-content; background: white">

   <div class="back-home">
      <%= link_to root_path, class: "home-tab" do %>
        <%= image_tag "https://res.cloudinary.com/xiway/image/upload/v1618534994/home_xkrb5x.png", class: "home-icon", alt: "alttext" %>
      <% end %>
    </div>

  <div class="wrapper">
    <div class="search-input">
      <a href="" target="_blank" hidden></a>
      <form id="search-tabs" action="/folders" class="form-pink" method="get">
        <input id="search" type="text" placeholder="Type to search" autocomplete="chrome-off">
         <i class="fa fa-search"></i>
        <div class="autocom-box">
          <ul id="results">
          </ul>
        </div>

      </form>
    </div>
  </div>


<!--   <form action="/folders" class="form-pink" method="get">
    <input id="search" type="text" placeholder="Type to search">
    <i class="fa fa-search"></i>
  </form> -->

  <div id="btn-tabs">
    <div id="top"></div>
    <div id="middle"></div>
    <div id="bottom"></div>
  </div>


  <div id="box-tabs">
    <div id="items">
      <!-- <div class="item">Item 1</div>
      <div class="item">Item 2</div>
      <div class="item">Item 3</div>
      <div class="item">Item 4</div>
      <div class="item">Item 5</div> -->
      <% @folders.each do |folder| %>
        <div class="home-tab">
          <%= folder.name %>
        </div>
      <% end  %>
    </div>
  </div>

</div>

<script>
  function select(element) {
    console.log({element})
    const searchWrapper = document.querySelector(".search-input");
    const inputBox = document.getElementById("search");
    const suggBox = document.querySelector(".autocom-box");
    const icon = document.querySelector(".fa");

    let linkTag = document.querySelector("a");
    let webLink;


    let selectData = element.textContent;
    inputBox.value = selectData;
    console.log(5678, selectData)
    window.location.href = `/folders`//"https://www.google.com/search?q=" + selectData
    // icon.onclick = () => {
    //   console.log(8888)
    //   webLink = "https://www.google.com/search?q=" + selectData;
    //   linkTag.setAttribute("href", webLink);
    //   linkTag.click();
    // }
    searchWrapper.classList.remove("active");
    }
</script>





