
<div class="position-absolute vh-100" style="z-index:100;left: 0; top:0; margin-right: 100px; width: fit-content; background: white">

   <div class="back-home">
      <%= link_to root_path, class: "home-tab" do %>
        <%= image_tag "https://res.cloudinary.com/xiway/image/upload/v1618534994/home_xkrb5x.png", class: "home-icon", alt: "alttext" %>
      <% end %>
    </div>

  <div class="wrapper">
    <div class="search-input">
      <a href="" target="_blank" hidden></a>
      <form id="search-tabs" action="/folders" class="form-pink" method="get">
        <input id="search" type="text" placeholder="Type to search" autocomplete="chrome-off">
         <i class="fa fa-search"></i>
         <!-- <button class="close-icon" type="reset"></button> -->
        <div class="autocom-box">
          <ul id="results">

          </ul>
        </div>

      </form>
    </div>
  </div>


  <div id="btn-tabs">
    <div id="top"></div>
    <div id="middle"></div>
    <div id="bottom"></div>
  </div>


  <div id="box-tabs">
    <div id="items">
      <% @unsaved_tabs.each do |tab| %>
        <div class="item">
          <h4><%= link_to tab.title, tab.url%></h4>
          <p class="delete_unsaved_tab">Delete</p>
        </div>
      <% end  %>
    </div>
  </div>

</div>

<script>
  function select(element) {
    console.log("element", {element})
    const searchWrapper = document.querySelector(".search-input");
    const inputBox = document.getElementById("search");
    const suggBox = document.querySelector(".autocom-box");
    const icon = document.querySelector(".fa");

    let linkTag = document.querySelector("a");
    let webLink;


    let selectData = element.textContent;

    searchWrapper.classList.remove("active");
    }
</script>

<style>
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
  }
</style>





